/.idea
/.idea/
/vendor/
/.phpunit.cache/
/.phpunit.result.cache
/build/
/coverage/
/reports/

/tests/fixtures/laravel-app/vendor/
/tests/fixtures/laravel-app/storage/logs/*.log
/tests/fixtures/laravel-app/composer.lock
/tests/fixtures/laravel-app/bootstrap/cache/*.php
.php-cs-fixer.cache

/site/assets/*.gif
