parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    paths:
        - packages
        - tests/Release
        - tests/Support
        - tools
