includes:
    - phpstan-production-baseline.neon

parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    paths:
        - packages
        - tests/Release
        - tests/Support
        - tools
