<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheResult="false"
>
    <testsuites>
        <testsuite name="core">
            <directory suffix="Test.php">packages/core/tests/Unit</directory>
            <directory suffix="Test.php">packages/core/tests/Integration</directory>
        </testsuite>
        <testsuite name="cli">
            <directory suffix="Test.php">packages/cli/tests/Unit</directory>
        </testsuite>
        <testsuite name="laravel">
            <directory suffix="Test.php">packages/laravel/tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
